.con {
    width: fit-content;
    padding: 3rem;
    background: grey;
    position: relative;
}

.box {
    width: 250px;
    height: 250px;
    
}

.box1 {
    background-color: blueviolet;
    position: absolute;
}

.box2 {
    background-color: brown;
    position: absolute;
}

.box3 {
    background-color: burlywood;
    position: absolute;

}