@font-face {
    font-family: 'Candara';
    src: url('../assets/fonts/Candara_Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

body {
    font-family: 'Candara', sans-serif;
}


h1 {
    margin-bottom: 2rem;
}

p {
    margin-bottom: 1rem;
}

/* .cancel, .open_menu {
    display: none;
} */

@media screen and (max-width: 768px) {
    html {
        scroll-padding-top: 103px;
    }

    /* .cancel, .open_menu {
    display: revert;
} */

}

@media screen and (max-width: 576px) {
    html {
        scroll-padding-top: 71px;
    }
}

